@font-face {
    font-family: 'Montserrat';
    src: url('hinted-Montserrat-SemiBold.woff2') format('woff2'),
        url('hinted-Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Varela Round';
    src: url('hinted-VarelaRound-Regular.woff2') format('woff2'),
        url('hinted-VarelaRound-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('hinted-Montserrat-Regular.woff2') format('woff2'),
        url('hinted-Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('hinted-Montserrat-Bold.woff2') format('woff2'),
        url('hinted-Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('hinted-Montserrat-Light.woff2') format('woff2'),
        url('hinted-Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('hinted-Montserrat-Black.woff2') format('woff2'),
        url('hinted-Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

