.toggle {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around;
  max-width: 140px;
  span {
    margin: 0.5rem 0;
  }
  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
    &:checked + label {
      background: #fc2f70;
    }
    &:checked + label:after {
      left: calc(100% - 2px);
      transform: translateX(-100%);
    }
  }
  label {
    cursor: pointer;
    width: 50px;
    height: 34px;
    background: rgba(0, 0, 0, 0.27);
    display: block;
    border-radius: 40px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: 30px;
      height: 30px;
      background: #fff;
      border-radius: 40px;
      transition: 0.3s;
    }
  }
}

// make the toggle switch a bit more accessible
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
